# Database
DATABASE_URL=your_database_url_here

# Django
SECRET_KEY=your_secret_key_here
DEBUG=True

# Stripe specific keys
STRIPE_PUBLIC_KEY=your_stripe_public_key_here
STRIPE_SECRET_KEY=your_stripe_secret_key_here

# AWS S3 configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_STORAGE_BUCKET_NAME=your_aws_storage_bucket_name_here
AWS_S3_REGION_NAME=your_aws_s3_region_name_here