{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container py-4">
    <h2>Vote for this months winner!</h2>
    <div class="row">
        {% for entry in entries %}
        <div class="col-md-4 mb-4 text-center">
            <img src="{{ entry.image.url }}" alt="{{ entry.title }}" class="img-fluid rounded">
            <h5 class="mt-2">{{ entry.title }}</h5>
            <p>{{ entry.description }}</p>
            <p>Likes: {{ entry.likes }}</p>
            <a href="{% url 'like_entry' entry.id %}" class="btn btn-success">
                <i class="fas fa-thumbs-up"></i>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}