{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="bg-dark text-white text-center py-2">
    <h1 class="display-4">Aquascape Haven Community</h1>
    <p class="lead">Welcome to our hub of chatter for all things aquatic!</p>
</header>

<section>
    {% for post in posts %}

    <div>
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <small>Posted by {{ post.user.username }} on {{ post.created_at }}</small>
    </div>

    {% empty %}

    <p>No posts yet. Be the first to share!</p>

    {% endfor %}
    <a href="{% url 'community:create_post' %}">Create a new post</a>
</section>

{% endblock %}