{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            {% if post.image %}
                <img class="post-image-detail mx-auto d-block" src="{{ post.image.url }}" alt="{{ post.title }}">
            {% endif %}
            <h2 class="mt-3">{{ post.title }}</h2>
            <p class="lead">{{ post.content }}</p>
            <small class="text-muted">
                Posted by {{ post.user.username }} on {{ post.created_at|date:"F j, Y, g:i a" }}
            </small>
            <div class="mt-4">
                {% if user.is_authenticated and user == post.user %}
                    <a href="{% url 'community:post_edit' post.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'community:post_delete' post.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
                <a href="{% url 'community:community' %}" class="btn btn-outline-primary">Back to Community</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}