{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="bg-dark text-white text-center py-2">
    <h1 class="display-4">Aquascaping Marketplace</h1>
    <p class="lead">Time to shop for all your wants and needs...</p>
</header>

<div class="container py-2 overflow-hidden">
    <div class="row g-4">
        {% for product in products %}
        <div class="col-md-4 mx-auto d-block">
            <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
            <div class="card h-100 product">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|truncatewords:5 }}</p>
                    <p><strong>£{{ product.display_price|floatformat:2 }}</strong></p>
                    <a href="{% url 'create_checkout_session' product.id %}" class="btn btn-success">Buy now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}