{% load static %}
{% extends 'base.html' %}

{% block content %}

<header class="bg-dark text-white text-center py-2">
    <h1 class="display-4">My Account</h1>
    <p class="lead">Your personal aqua space...</p>
</header>

<div class="container my-5">
  <div class="login-form mx-auto">
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary w-100 mt-3">Log In</button>
    </form>
    <p class="text-center mt-3">
      New here? <a href="{% url 'account_signup' %}" class="text-decoration-none">Create an account</a>
    </p>
  </div>
</div>

{% endblock %}